Vyhledavac_vuni/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Vyhledavac_vuni/obj/Debug/net8.0/apphost.exe
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.AssemblyInfo.cs
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.AssemblyInfoInputs.cache
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.assets.cache
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.csproj.CoreCompileInputs.cache
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.csproj.FileListAbsolute.txt
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.dll
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.GeneratedMSBuildEditorConfig.editorconfig
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.genruntimeconfig.cache
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.GlobalUsings.g.cs
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.pdb
Vyhledavac_vuni/obj/Debug/net8.0/ref/Vyhledavac_vuni.dll
Vyhledavac_vuni/obj/Debug/net8.0/refint/Vyhledavac_vuni.dll
.vscode/settings.json
Vyhledavac_vuni/bin/Debug/net8.0/Vyhledavac_vuni.deps.json
Vyhledavac_vuni/bin/Debug/net8.0/Vyhledavac_vuni.dll
Vyhledavac_vuni/bin/Debug/net8.0/Vyhledavac_vuni.exe
Vyhledavac_vuni/bin/Debug/net8.0/Vyhledavac_vuni.pdb
Vyhledavac_vuni/bin/Debug/net8.0/Vyhledavac_vuni.runtimeconfig.json
Vyhledavac_vuni/obj/project.assets.json
Vyhledavac_vuni/obj/project.nuget.cache
Vyhledavac_vuni/obj/Vyhledavac_vuni.csproj.nuget.dgspec.json
Vyhledavac_vuni/obj/Vyhledavac_vuni.csproj.nuget.g.props
Vyhledavac_vuni/obj/Vyhledavac_vuni.csproj.nuget.g.targets
Vyhledavac_vuni/obj/Debug/net8.0/Vyhledavac_vuni.sourcelink.json
